function Pell.pell 1
//n == 0
push argument 0
push constant 0
eq
if-goto RET_0

// n == 1
push argument 0
push constant 1
eq
if-goto RET_1

// 2Pn-1 + Pn-2 = Pn-1 + Pn-1 + Pn-2
push argument 0
push constant 1
sub
call Pell.pell 1

push argument 0
push constant 1
sub
call Pell.pell 1

add

push argument 0
push constant 2
sub
call Pell.pell 1

add
return

label RET_0
push constant 0
return

label RET_1
push constant 1
return