function Main.main 0
push constant 3
push constant 4
call Main.graph 2
pop temp 0
push constant 0
return
function Main.graph 0
push constant 128
push constant 0
push constant 128
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 128
push constant 255
push constant 128
call Screen.drawLine 4
pop temp 0
push constant 0
return
